{% extends 'base.html' %}
{% block title %} Followers {% endblock %}
{% block content %}
    <h1>Followers</h1>
    {%if number>0%}
    <ul class="list-group">
        {%for i in range(0, number)%}
        <li style="width:20%; margin-left:40%" class="list-group-item">{{result[i]}}</li>
        {%endfor%}
    </ul>
    {%else%}
    <p>No Followers</p>
    {%endif%}

    <form action='/view_user/{{id}}/{{password}}/{{req_id}}'>
        <input style="margin-top:5px;" class="btn btn-primary" type="submit" value="Back">
    </form>
{% endblock %}

