{% extends 'base.html' %}
{% block title %} Update Profile {% endblock %}
{% block content %}
  <div>
	<h1>Update Profile</h1>
  </div>
  
  <div>
  	<form action='/update_name/{{id}}/{{password}}' method='POST'>
  		<label>New Username</label>
  		<br>
  		<input type="text" name="name", id="name">
      <br>
      <label>New Password</label>
  		<br>
  		<input type="text" name="password", id="password">
  		<br>
		Remember your New Details  <br>
		You will be logged out! 
  		<br>
  		<input style="margin-bottom:4px;" class="btn btn-primary" type="submit" value='Update Profile' id="update_name">
  	</form>
	
	<form action='/delete_user/{{id}}/{{password}}'>
		<input style="margin-bottom:4px;" class="btn btn-primary" type="submit" value="Delete Account">
	</form>

  	<form action='/feed/{{id}}/{{password}}'>
  		<input class="btn btn-primary" type="submit" value="Back" id="cancel_update">
  	</form>
  	
  	<br>
  </div>
  {% endblock %}